.App {
  text-align: center;
}

.titleContainer{
  font-weight: bold;
  font-size: 2em;
  background-color: cadetblue;

}

.backContainer{
  background-color: #979999;
  margin-left: 250px;
  margin-right: 250px;
  height: 1200
}

.container{
  margin-top: 50px;
  display: flex;
  position: relative;
  height: 800px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  
}

