.titleContainer{
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  background-color: #303554;
  padding: 15px;
  color: aliceblue;
}

.backContainer{
  background-color: #26303b;
  margin-left: 250px;
  margin-right: 250px;
  height: 100%;
  overflow: hidden;
}

.container{
  display: flex;
  position: relative;
  height: 92vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.container::-webkit-scrollbar { width: 0 !important }

